:root {
    --main-bg-color:var(--main-bg-color) #FFDBBB;
    --secondary-bg-color: rgb(202, 40, 0);
}


body {
    background-color: #e7e7e7;
    margin: 2% 2% 2% 2%;
    padding: 0;
}

 
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "header header header header"
        "pagelink pagelink pagelink pagelink "
        "navigationbar navigationbar navigationbar navigationbar"
        "body body body body"
        "footer footer footer footer";
    grid-gap: 0.5rem;
    max-width: 1450px;
    margin: auto;
}


.grid-item {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    min-height: 150px;
    margin: 0;
}



.header {
    grid-area: header;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    font-size: 40px;
    font-weight: 900;

}

.pagelink {
    grid-area: pagelink;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;

}


.header a,
.pagelink a,
.navigationbar a {
    text-decoration: none;
    color: inherit;        
    display: inline-block;
}



.header .importance:hover,
.pagelink .importance:hover,
.navigationbar .importance:hover,
.navigationbar a:hover .importance {
    filter: brightness(0.95);
    transform: translateY(-10px);
    transition: filter 120ms ease, transform 120ms ease;
    text-decoration: none;
    cursor: pointer;
}



.navigationbar {
    display: grid;
    grid-area: navigationbar;
    padding-top: 10px;
    margin-bottom: 0;
    background: none;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}



.body {
    grid-area: body;
    font-size: 100%;
    text-align: center;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
}