:root {
    --main-bg-color:var(--main-bg-color) #FFDBBB;
    --secondary-bg-color: rgb(202, 40, 0);
}
body {
    background-color: #e7e7e7;
    margin: 2% 2% 2% 2%;
    padding: 0;
}
 
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "heading1 heading1 heading1"
        "text1 text1 text1"
        "pic1 pic2 pic3"
        "pic5 pic6 pic7"
        "carousel-container carousel-container carousel-container"
        "text2 text2 text2"
        "footer footer footer";
    grid-gap: 0.5rem;
    max-width: 1450px;
    margin: auto;
}
.heading {
    grid-area: heading;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: #e7e7e7;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;

}
.navigationbar {
    padding-top: 10px;
    margin-bottom: 0;
    background: none;

}
.body